body { font-family: sans-serif; background: #202329; color: white; text-align: center; }
.controles { margin: 20px; }
button { padding: 10px 20px; cursor: pointer; background: #97ce4c; border: none; font-weight: bold; }
main { display: flex; justify-content: space-around; padding: 20px; }
#atendimento-atual, #sala-espera { border: 1px solid #444; padding: 20px; width: 45%; }
.card { background: #3c3e44; padding: 10px; border-radius: 8px; margin-bottom: 10px; }
.card img { width: 100px; border-radius: 50%; }